
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainPage</title>
    <style>
        #main-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }
    </style>
</head>
<body id="main-div">
    <button type="button" onclick="location.href='@Url.Action("WhiskeyOverview","Default")'">Whiskey Overview</button>
    <button type="button" onclick="location.href='@Url.Action("WhiskeyOverview","Default")'">Client Overview</button>
</body>
</html>
