@model Slijterij_Sjonnie_Loper.Models.ModelWhiskey

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateWhiskey</title>
    <style>
        #createwhiskey-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }
    </style>
</head>
<body>

<h4>ModelWhiskey</h4>
<hr />
<div id="createwhiskey-div"class="row">
    <div class="col-md-4">
        <form asp-action="CreateWhiskey">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductionSite" class="control-label"></label>
                <input asp-for="ProductionSite" class="form-control" />
                <span asp-validation-for="ProductionSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlcoholPercentage" class="control-label"></label>
                <input asp-for="AlcoholPercentage" class="form-control" />
                <span asp-validation-for="AlcoholPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeWhiskey" class="control-label"></label>
                <input asp-for="TypeWhiskey" class="form-control" />
                <span asp-validation-for="TypeWhiskey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Label" class="control-label"></label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOfBottles" class="control-label"></label>
                <input asp-for="AmountOfBottles" class="form-control" />
                <span asp-validation-for="AmountOfBottles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
